config weather 'weather'
	option city 'Voronezh'
	list choices 'Moscow'
	list choices 'Saint Petersburg'
	list choices 'Voronezh'
	list choices 'Novosibirsk'
	list choices 'Yekaterinburg'
	list choices 'Kazan'
	list choices 'Nizhny Novgorod'
	list choices 'Samara'
	list choices 'Rostov-on-Don'
	list choices 'Krasnoyarsk'
	list choices 'Sochi'
	list choices 'Khabarovsk'
	list choices 'Vladivostok'

config display 'display'
	option saver '60'
	option lang 'ru'
	option burnin '1'
	option saver_style 'clock'
	option night '1'
	option night_from '22'
	option night_to '6'

config services 'services'
	list host 'ya.ru'
	list host 'api.telegram.org'
	list host 'youtube.com'
	list host 'github.com'
	list host 'ozon.ru'
	list host 'max.ru'
